@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #f7f1ed;
    font-family: Open Sans, sans-serif;
    font-weight:400;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #d96845;
}

#header-logo {
    height: 100px;
    width: 100%;
    padding: 25px 0 35px 0;
    text-align: center;
    position: relative;
}

#menu {
    height: 40px;
    width: 100%;
    background-color: #d96845;
    text-align: center;
}

#menu a {
    font-family: Oswald, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
	color: beige;
    padding: 0px 50px 0px 50px;
    display: inline;
}

#menu a:hover {
    background-color: #3a3a3a;
}


#hero-image {
    height: 700px;
    width: 100%;
    background: url('../images/hero_homepage.jpg') no-repeat center;
    background-size: cover;
    overflow: hidden;
}

.spacer {
    clear: all;
}

/* releases section */

#latest-releases {
    height: 700px;
    padding: 20px 100px 30px 100px;
}

#left-box {
    width: 25%;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    float: left;
}

#right-box {
    width: 25%;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    float: right;

}

#center-box {
    width: 25%;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    margin: 0 auto;

/* stories section */

#latest-stories {
    height: 700px;
    width: 100%;
}

footer {
	background-color: #3a3a3a;

}