@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #f7f1ed;
    font-family: Open Sans, sans-serif;
    font-weight:400;
    color: #3a3a3a;
}

/* header and nav */

.logo {
    height: auto;
    margin: 5% auto;
    width: 80%;
}

.logo img {
    float: left;
    max-width: 33%;
    padding-bottom: 5%;
}

.menu { 
    font-family: Oswald, sans-serif;
    font-size: 110%;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.menu li{
    float: right;
    list-style-type: none;
    margin-right: 2%;
}

.menu a {
    text-decoration: none;
    color: #3a3a3a;

}

.menu a:hover {
    color: #d96845;
}

/* headings and text */

h1 {
    font-family: Oswald, sans-serif;
    color: #d96845;
    font-size: 35px;
    font-weight: 500;
    text-align: left;
    letter-spacing: 4px;
    text-transform: uppercase;
}

h2 {
    font-family: Oswald, sans-serif;
    color: #3a3a3a;
    font-size: 24px;
    line-height: 27px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.description-text {
    font-family: Open Sans, sans-serif;
    color: #3a3a3a;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.text-link {
    font-family: Oswald, sans-serif;
    color: #3a3a3a;
    font-size: 15px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 20px;
}

a:hover {
    color: #d96845;
}

.question {
    font-family: Oswald, sans-serif;
    color: #d96845;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 700;
    padding-bottom: 20px;
}

.answer {
    font-family: Open Sans, sans-serif;
    color: #3a3a3a;
    font-size : 16px;
    font-weight: 400;
    padding-bottom: 40px;
}

.photo-caption {
    font-family: Oswald, sans-serif;
    color: #3a3a3a;
    font-size: 15px;
    font-weight: 900;
    padding-bottom: 20px;
}

.album-title {
    font-family: Oswald, sans-serif;
    color: #d96845;
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 20px 0 40px 0;
}

.album-artist {
    font-family: Oswald, sans-serif;
    color: #3a3a3a;
    font-size: 15px;
    font-weight: 900;
    padding-bottom: 20px 0 40px 0;
}

ul, ol {
    margin-left: 15px;
    line-height: 160%;
}


/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;  

    position: relative;
}
 

#hero-home {
    height: 700px;
    width: 100%;
    background: url('../images/hero_homepage.jpg') no-repeat center;
    overflow: hidden;
    background-position: 0px 0px, 0px 0px;
    background-size: cover, auto;
}

#hero-releases {
    height: 700px;
    width: 100%;
    background: url('../images/hero_releases.jpg') no-repeat center;
    overflow: hidden;
    background-position: 0px 0px, 0px 0px;
    background-size: cover, auto;
}

#hero-stories {
    height: 700px;
    width: 100%;
    background: url('../images/hero_stories.jpeg') no-repeat center;
    overflow: hidden;
    background-position: 0px 0px, 0px 0px;
    background-size: cover, auto;  
}

#hero-stories-ken-andrews {
    height: 700px;
    width: 100%;
    background: url('../images/hero_stories_ken_andrews.jpg') no-repeat center;
    overflow: hidden;
    background-position: 0px 0px, 0px 0px;
    background-size: cover, auto;  
}

#hero-stories-jonah-matranga {
    height: 700px;
    width: 100%;
    background: url('../images/hero_stories_jonah_matranga.jpeg') no-repeat center;
    overflow: hidden;
    background-position: 0px 0px, 0px 0px;
    background-size: cover, auto;  
}

#hero-stories-bob-nanna {
    height: 700px;
    width: 100%;
    background: url('../images/hero_stories_bob_nanna.jpeg') no-repeat center;
    overflow: hidden;
    background-position: 0px 0px, 0px 0px;
    background-size: cover, auto;  
}

#hero-about-us {
    height: 700px;
    width: 100%;
    background: url('../images/hero_about_us.jpg') no-repeat center;
    overflow: hidden;
    background-position: 0px 0px, 0px 0px;
    background-size: cover, auto;  
}

#hero-contact-us {
    height: 700px;
    width: 100%;
    background: url('../images/hero_contact_us.jpg') no-repeat center;
    overflow: hidden;
    background-position: 0px 0px, 0px 0px;
    background-size: cover, auto;  
}


#cover-text {
    position: absolute;
    top: 10%;
    left:10%;
    width: 45%;
}

.hero-heading {
    font-size: 400%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: left;
    color: #f7f1ed;
}

.hero-subheading {
    font-size: 250%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: left;
    color: #f7f1ed;
    padding-bottom: 5%;
}


.hero-text {
    font-size: 150%;
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
    text-align: left;
    color: #ffffff;
}

/* test */

.vinyl-content {
    height: auto;
    max-width: auto;
    margin: 5% 10%;
}

.flex-container-2col {
    display: flex;
    flex-wrap: wrap;
    max-width: auto;
    margin: 5% 10% 0%;
    columns: 2;
  }


.left-box {
    width: 45%;
    margin-right: 2%;
}

.center-box {
    width: 100%;
}

.right-box {
    width: 50%;
}

.w100 {
    width: 100%
}

ul, ol {
    margin-left: 15px;
    line-height: 160%;
}



/* footer */

footer {
    background-color: #3a3a3a;
    border-top: #d96845 solid 10px;
    height: 150px;
    margin-bottom: 0;
    position: static;
}


.social-networks {
     text-align: center;
 
 }
 
 .social-networks > li {
     display: inline;
 }
 
 .social-networks i {
     font-size: 160%;
     margin: 1%;
     padding: 1%;
     color: #ffffff;
 }

 .social-networks i:hover {
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: #d96845;
}


@media screen and (max-width: 600px) {  

    
    .left-box {
        width: 100%;
    }
    

    .right-box {
        width: 100%;
    }

}