@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #f7f1ed;
    font-family: Open Sans, sans-serif;
    font-weight:400;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #d96845;
}

#header-logo {
    height: 100px;
    width: 100%;
    padding: 25px 0 45px 0;
    text-align: center;
    position: relative;
}

#menu {
    height: 40px;
    width: 100%;
    background-color: #d96845;
    text-align: center;
}

#menu a {
    font-family: Oswald, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
	color: beige;
    padding: 0px 50px 0px 50px;
    display: inline;
}

#menu a:hover {
    background-color: #3a3a3a;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;  

    position: relative;
}
 

#hero-home {
    height: 700px;
    width: 100%;
    background: url('../images/hero_homepage.jpg') no-repeat center;
    overflow: hidden;
    background-position: 0px 0px, 0px 0px;
    background-size: cover, auto;
}

#hero-stories {
    height: 700px;
    width: 100%;
    background: url('../images/hero_stories.jpeg') no-repeat center;
    overflow: hidden;
    background-position: 0px 0px, 0px 0px;
    background-size: cover, auto;  
}

#cover-text {
    position: absolute;
    top: 10%;
    left:10%;
    width: 450px;
}

.hero-heading {
    font-size: 400%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: left;
    color: #f7f1ed;
}

.hero-subheading {
    font-size: 200%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: left;
    color: #d96845;
    padding-bottom: 5%;
}


.hero-text {
    font-size: 100%;
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
    text-align: left;
    color: white;
}

/* latest releases section */

#latest-releases {
    height: 600px;
}

.content-box {
    max-width: auto;
    margin: 5% 10%;

}

.column50 {
    width: 50%;
    height: 300px;
    float: left;
}

.left-column {
    float: left;

}

.right-column {
    float: right;
    background-color: #d96845;
}
